input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label { 
    cursor: pointer; 
    padding-left: 23px; 
    background-repeat: no-repeat;
    background-image: url('./img/checker-off.svg');
}
input[type=checkbox]:checked + label {
    background-image: url('./img/checker-on.svg');
}
input[type=checkbox]:disabled + label {
    background-image: url('./img/checker-disabled.svg');
}