<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>&#128021;UP DATE PAGE</title>
    <style>
        .main-trailer {
            width: 800px;
            height: 800px;

            background-image: url("https://i.pinimg.com/736x/70/89/68/708968c03f1d1779571fd7326e32eb1c.jpg");
        }
        .sex{
            width: 300px;
            margin-left: 350px;
            font-size: 30px;
        }

        .meal{
            margin-right: 25px;
        }
        .upbtn{
            width: 100px;
            margin: 20px auto 0 auto;
        }



    </style>
</head>

<body>
<div class="main-trailer">
    <div class="container">
        <h1 class="display-3">petstagrem<span style='font-size:100px;float:left'>&#128586;</span></h1>

        <p class="lead">우리아이를 자랑해주세요</p>
        <div class="sex">
            <span class="meal">
            <input  type="checkbox" name="checker" id="checker1"><label for="checker1">&#9794;</label></span>
            <input type="checkbox" name="checker" id="checker2"><label for="checker2">&#9792;</label>
        </div>
        <!--  \\\\input-box-section\\\-->
        <div class="input_list">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">내새끼이름</span>
                </div>
                <input type="text" class="form-control" placeholder="반려동물이름" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>

            <div class="wrap">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">아이종류??</span>
                    </div>
                    <input type="text" class="form-control" placeholder="시고르자브종가능" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>


            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="emty" aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary">사진찾기</button>
                </div>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">TEXT</span>
                </div>
                <textarea class="form-control" placeholder="하고싶은말 10글자까지" aria-label="With textarea"></textarea>
            </div>
        </div>
        <div class="upbtn">
            <button id="update_btn" type="button" class="btn btn-outline-secondary">UP DATE</button>
        </div>
    </div>
</div>
</body>

</html>